################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MVP/FileContentIndex
/.vs/MVP/v17
/Agrc.Api/.vs
/Agrc.Api/bin/Debug/net6.0
/Agrc.Api/obj
/.vs/AGRC/v17
/.vs/AGRC/FileContentIndex
/GRC.Desktop.Blazor/bin/Debug/net8.0-windows10.0.19041.0/win10-x64
/GRC.Desktop.Blazor/obj
